# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Flutter specific
build/
.dart_tool/flutter_build/

# Large files
*.zip
*.apk
*.pdf
coccard-release.apk
assets/Noto_Sans_SC/OFL.txt
assets/Noto_Sans_SC/README.txt
